body {
  font-family: 'Roboto Condensed', sans-serif
}

header{
  color: #fff;
  background: #888888;
  padding: 3.5em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.icon{
  width: 5%;
  margin-right: 0.5em;
}

h1{
  font-size: 50px;
  margin-bottom: 0.5em;
  transition: 1.5s;
}

h1:hover{
  font-size: 52px;
}

p{
  font-size: 20px;
}

ul{
  display: flex;
}

li{
  margin-left: 1.5em;
}

a{
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: 1.3s;
}

a:hover{
  text-decoration: underline;
  font-size: 21px;
}

main{
  color: #616161;
  background: #d1d1d1;
  padding: 2em;
}

.main-title{
  text-align: center;
  padding: 1em;
  transition: 1.3s;
}

.main-title:hover{
  font-size: 37px;
}

.intro{
  width: 55%;
  margin: 2.3em auto;
}

article{
  width: 100%;
  padding: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

article.left{
  flex-direction: row-reverse;
}

div.text{
  width: 30%;
}

h2{
  font-size: 35px;
  margin-bottom: 0.5em;
}

img{
  width: 25%;
  border-radius: 8px;
}

.dif-link{
  color: #616161;
  display: flex;
  justify-content: center;
  margin: 1.5em 0 1em 0;
}

footer{
  color: #fff;
  background: #888888;
  padding: 2.5em;
  text-align: center;
}

footer p {
  font-size: 15px;
}

//responsive for phones
@media only screen and (max-width: 320px){
  
  header{
    padding: 1.5em;
    flex-flow: column wrap;
    align-items: flex-start;
  }
  
  .icon{
    display: none;
  }
  
  h1 {
    font-size: 33px;
  }
  
  p {
    font-size: 15px;
  }
    
  article{
    flex-direction: column;
  }  
}

//responsive for phones
@media only screen and (min-width:321px) and (max-width:768px){

}

